{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Galleria | {% block title %}{% endblock %}</title>
    <meta name="author" content="Humphrey Drummond">
    {% block extra_css %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="./images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="./images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/icons/apple-touch-icon-114x114.png">

    {% bootstrap_css %} 
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}

  </head>

  <body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ galleria_brand }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.user.is_anonymous %}
        {% else %}
          {% block nav-contacts %}<li><a href="/contacts/">Contacts</a></li>{% endblock %}
          {% block nav-artists %}<li><a href="/artists/">Artists</a></li>{% endblock %}
          <li class="dropdown" {% block nav-englishroom-dropdown %}{% endblock %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">English Room<b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% block nav-orders %}<li><a href="/products/orders/">Orders</a></li>{% endblock %}
              {% block nav-products %}<li><a href="/products/">Products</a></li>{% endblock %}
            </ul>
          </li>
          <li class="dropdown" {% block nav-admin-dropdown %}{% endblock %}>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% block nav-contact-types %}<li><a href="/contacts/type/">Contact Types</a></li>{% endblock %}
              {% block nav-categories %}<li><a href="/categories/">Categories</a></li>{% endblock %}
              <li class="divider"></li>
              {% block nav-stocks %}<li><a href="/stocks/">Stocks</a></li>{% endblock %}
              <li class="divider"></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/admin/">Admin</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_anonymous %}
            <li><a href="#">Not logged in.</a></li>
            <li><a href="{% url 'login' %}">Log in</a></li>
        {% else %}
            <li><a href="#">Logged in as {{ request.user.username }}.</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/drummonds/galleria/wiki">Galleria Documentation</a></li>
                <li class="divider"></li>
                <li><a href="http://www.drummonds.net">drummonds.net</a></li>
              </ul>
            </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container container-fluid">
    {% block content %}{% endblock content %}
    </div>

    {% block js %}{% endblock js %}
  </body>
</html>
