<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ galleria_brand }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.user.is_anonymous %}
        {% else %}
          <li class="active"><a href="dcontacts">Contacts</a></li>
          <li><a href="#">Artists</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="dcontacts">Contact Types</a></li>
              <li><a href="categories">Categories</a></li>
              <li class="divider"></li>
              <li><a href="stocks">Stocks</a></li>
              <li class="divider"></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="admin">Admin</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_anonymous %}
            <li><a href="#">Not logged in.</a></li>
            <li><a href="{% url 'login' %}">Log in</a></li>
        {% else %}
            <li><a href="#">Logged in as {{ request.user.username }}.</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://github.com/drummonds/galleria/wiki">Galleria Documentation</a></li>
                <li class="divider"></li>
                <li><a href="http://www.drummonds.net">drummonds.net</a></li>
              </ul>
            </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
