{% extends "base.html" %}

{% block content %}
    <h1>Stock Listing</h1>
    <a class="btn btn-primary" href="{% url 'stock_create' %}">Create</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td>
                    <a class="btn btn-info btn-xs" href="{% url 'stock_detail' object.pk %}">Details</a> 
                    <a class="btn btn-warning btn-xs" href="{% url 'stock_update' object.pk %}">Update</a> 
                    <a class="btn btn-danger btn-xs" href="{% url 'stock_delete' object.pk %}">Delete</a>
                </td>
            </tr>
        {% empty %}
                <td colspan="3">No items.</td>
        {% endfor %}
      </tbody>
    </table>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'stock_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'stock_list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}
