[uwsgi]

# {{ project_name }} uwsgi.ini file for {{ deploy_file }} environment
# Placed in same directory as manage.py
# /home/ubuntu/projects/{{ project_name }}/{{ project_name }}

# the http link
http = :{{ uwsgi_port_test }}

# Django-related settings
# the base directory (full path)
chdir = /home/ubuntu/projects/{{ project_name }}/{{ project_name }}

# the virtualenv (full path)
virtualenv = /home/ubuntu/.virtualenvs/{{ project_name }}

# Django's wsgi file
wsgi-file = /home/ubuntu/projects/{{ project_name }}/{{ project_name }}/{{ project_name }}/wsgi.py


env = DJANGO_SETTINGS_MODULE=galleria.settings.{{ deploy_file }}

pythonpath = ..

# or the socket (use the full path to be safe
#socket          = /home/ubuntu/projects/{{ project_name }}/venv/mysite.sock
# the socket (use the full path to be safe
#socket          = /home/ubuntu/projects/{{ project_name }}/venv/mysite.sock
# ... with appropriate permissions - may be needed
# chmod-socket    = 664
# clear environment on exit
#vacuum          = true
